@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');


h4 {
  color: #404040;
}

label{
  color: #566f91;
}
  
input, textarea {
  background-color: #f1f4f6;
  border-radius: 4px;
  padding: 8px;
  color: #404040;
}

textarea {
  resize: none;
  height: 100px;
}

.button-bg{
  background: rgb(61,183,132);
  background: linear-gradient(45deg, rgba(61,183,132,1) 10%, rgb(30, 199, 129) 90%);
  transition: transform 0.15s ease-in;
}

.button-bg:hover{
  background: rgb(67, 218, 155);
  background: linear-gradient(45deg, rgb(64, 203, 145) 10%, rgb(31, 209, 135) 90%);
  transform: scale(1.05);
}

/* form {
} */